PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE users (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      username TEXT UNIQUE NOT NULL,
      password_hash TEXT NOT NULL,
      created_at INTEGER DEFAULT (strftime('%s','now'))
    );
INSERT INTO users VALUES(1,'Forsaken','$2a$10$i8vR7CgdkarssgeAliBE5etv3YoyjBqXNxWK.p6VxNm4osPpGvzRe',1773239843);
INSERT INTO users VALUES(2,'Noob','$2a$10$UhL0hpvHgdAqwRisPNl9XOzr6JbkrhHN2G.ATq4D9tWk5nLi22Z6S',1773242593);
INSERT INTO users VALUES(3,'newb','$2a$10$sKuUIhjS5kkZ.3A8ug.iHOhlpBMgSODk3kATon5GbCospPCvPWjei',1773379749);
CREATE TABLE characters (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      user_id INTEGER UNIQUE NOT NULL,
      name TEXT NOT NULL,
      class TEXT NOT NULL,
      level INTEGER DEFAULT 1,
      xp INTEGER DEFAULT 0,
      gold INTEGER DEFAULT 100,
      strength INTEGER DEFAULT 10,
      defense INTEGER DEFAULT 10,
      agility INTEGER DEFAULT 10,
      magic INTEGER DEFAULT 10,
      hp_max INTEGER DEFAULT 100,
      hp_current INTEGER DEFAULT 100,
      wins INTEGER DEFAULT 0,
      losses INTEGER DEFAULT 0,
      training_stat TEXT DEFAULT NULL,
      training_ends_at INTEGER DEFAULT NULL, total_gold_earned INT DEFAULT 0, total_gold_lost INTEGER DEFAULT 0, gems INTEGER DEFAULT 0, total_gems_earned INTEGER DEFAULT 0, total_gems_spent INTEGER DEFAULT 0, location TEXT DEFAULT 'forest', travel_target TEXT, travel_end_time INTEGER DEFAULT 0, elem_resist_pyro INTEGER DEFAULT 0, elem_resist_water INTEGER DEFAULT 0, elem_resist_wind INTEGER DEFAULT 0, elem_resist_electro INTEGER DEFAULT 0, travel_start_time INTEGER DEFAULT 0, vitality INTEGER DEFAULT 10, attack_zones TEXT DEFAULT NULL, block_zones TEXT DEFAULT NULL, last_regen_at INTEGER DEFAULT 0, attack_cooldown_until INTEGER DEFAULT 0, last_battle_at INTEGER DEFAULT 0, hit_chance INTEGER DEFAULT 0, crit_chance INTEGER DEFAULT 0, mission_points INTEGER DEFAULT 240, mp_last_regen_at INTEGER DEFAULT 0, active_skills TEXT DEFAULT NULL, skill_last_used TEXT DEFAULT NULL, total_mp_earned INTEGER DEFAULT 0, daily_mp_spent INTEGER DEFAULT 0, daily_mp_reset_at INTEGER DEFAULT 0,
      FOREIGN KEY (user_id) REFERENCES users(id)
    );
INSERT INTO characters VALUES(1,0,'Forsaken','mage',3,138,50883,8,12,16,28,90,90,0,0,'agility',1773239760,0,0,0,0,0,'forest',NULL,0,0,0,0,0,0,10,NULL,NULL,0,0,0,0,0,240,0,NULL,NULL,0,0,0);
INSERT INTO characters VALUES(2,1,'Forsaken','mage',24,272,5560,557,179,269,601,90,2417,174,0,'agility',1773991174,201146,0,0,0,0,'ruins',NULL,0,0,0,0,0,1773867918,77,'["right_arm","throat","solar_plexus","chest","head","solar_plexus","chest","stomach","chest","solar_plexus"]','["cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard"]',1773984261,0,1773922499,112,43,50,1773982800,'{"magic_circle":1774003219}','{"magic_circle":1773985219}',10,60,1773964800);
INSERT INTO characters VALUES(3,2,'Noob','paladin',7,2,479,32,25,32,15,120,42,36,114,'agility',1773904572,125768,8527,0,0,0,'forest',NULL,0,0,0,0,0,0,10,'["right_leg","chest","solar_plexus","chest","head","solar_plexus","chest","stomach","chest","solar_plexus"]','["cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard","cross_guard"]',1773965163,1773968763,1773898315,32,12,240,0,NULL,NULL,0,0,0);
CREATE TABLE battles (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      attacker_id INTEGER NOT NULL,
      defender_id INTEGER NOT NULL,
      winner_id INTEGER NOT NULL,
      log TEXT NOT NULL,
      fought_at INTEGER DEFAULT (strftime('%s','now')),
      FOREIGN KEY (attacker_id) REFERENCES characters(id),
      FOREIGN KEY (defender_id) REFERENCES characters(id)
    );
INSERT INTO battles VALUES(1,3,2,2,'["тЪФя╕П Noob challenges Forsaken!","ЁЯУК Noob: STR 12 | DEF 16 | AGI 8 | MAG 12","ЁЯУК Forsaken: STR 495 | DEF 81 | AGI 188 | MAG 265","ЁЯЧбя╕П Forsaken wields gear (+3-7 dmg)","---","ЁЯФФ Round 1","  Forsaken тЖТ Noob: 123 phys + 106 magic burst = 229 total | Noob 0HP","ЁЯПЖ Forsaken wins with 90 HP remaining!"]',1773294833);
INSERT INTO battles VALUES(2,3,2,2,'["тЪФя╕П Noob challenges Forsaken!","ЁЯУК Noob: STR 12 | DEF 16 | AGI 8 | MAG 12","ЁЯУК Forsaken: STR 495 | DEF 81 | AGI 188 | MAG 265","ЁЯЧбя╕П Forsaken wields gear (+3-7 dmg)","---","ЁЯФФ Round 1","  Forsaken тЖТ Noob: 126 phys + 106 magic burst = 232 total | Noob 0HP","ЁЯПЖ Forsaken wins with 90 HP remaining!"]',1773294862);
INSERT INTO battles VALUES(3,3,2,2,'["тЪФя╕П Noob challenges Forsaken!","ЁЯУК Noob: STR 12 | DEF 16 | AGI 8 | MAG 12","ЁЯУК Forsaken: STR 495 | DEF 81 | AGI 188 | MAG 265","ЁЯЧбя╕П Forsaken wields gear (+3-7 dmg)","---","ЁЯФФ Round 1","  Forsaken тЖТ Noob: 128 phys + 106 magic burst = 234 total | Noob 0HP","ЁЯПЖ Forsaken wins with 90 HP remaining!"]',1773294873);
CREATE TABLE messages (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      sender_id INTEGER NOT NULL,
      receiver_id INTEGER NOT NULL,
      subject TEXT NOT NULL,
      body TEXT NOT NULL,
      read INTEGER DEFAULT 0,
      sent_at INTEGER DEFAULT (strftime('%s','now')),
      FOREIGN KEY (sender_id) REFERENCES characters(id),
      FOREIGN KEY (receiver_id) REFERENCES characters(id)
    );
INSERT INTO messages VALUES(1,3,2,'noob','noob',1,1773294919);
INSERT INTO messages VALUES(2,4,3,'argh','I''ll get you next time bitch',1,1773381195);
INSERT INTO messages VALUES(3,2,3,'no u','lol',1,1773691496);
CREATE TABLE missions (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      char_id INTEGER NOT NULL,
      zone TEXT NOT NULL,
      mission_name TEXT NOT NULL,
      payout_tier TEXT NOT NULL,
      gold_reward INTEGER NOT NULL,
      xp_reward INTEGER NOT NULL,
      mat_drops TEXT NOT NULL,
      started_at INTEGER NOT NULL,
      ends_at INTEGER NOT NULL,
      collected INTEGER DEFAULT 0,
      FOREIGN KEY (char_id) REFERENCES characters(id)
    );
INSERT INTO missions VALUES(1,1,'forest','Hunt the Wolves','normal',93,59,'[]',1773238093,1773238213,1);
INSERT INTO missions VALUES(2,1,'forest','Hunt the Wolves','small',30,29,'[]',1773238814,1773238934,1);
INSERT INTO missions VALUES(3,1,'forest','Hunt the Wolves','small',47,21,'[{"mat":"iron_ore","qty":1},{"mat":"wood","qty":1}]',1773238941,1773239061,1);
CREATE TABLE inventory (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      char_id INTEGER NOT NULL,
      item_type TEXT NOT NULL,
      item_data TEXT NOT NULL,
      acquired_at INTEGER DEFAULT (strftime('%s','now')),
      FOREIGN KEY (char_id) REFERENCES characters(id)
    );
INSERT INTO inventory VALUES(1,1,'raw_mat','{"id":"iron_ore","name":"Iron Ore","emoji":"ЁЯки","rarity":"common","qty":3}',1773239087);
INSERT INTO inventory VALUES(2,1,'raw_mat','{"id":"wood","name":"Wood","emoji":"ЁЯк╡","rarity":"common","qty":1}',1773239087);
INSERT INTO inventory VALUES(3,1,'raw_mat','{"id":"wolf_pelt","name":"Wolf Pelt","emoji":"ЁЯР║","rarity":"common","qty":2}',1773239324);
CREATE TABLE equipment (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      char_id INTEGER UNIQUE NOT NULL,
      weapon_id INTEGER DEFAULT NULL,
      armor_id INTEGER DEFAULT NULL,
      boots_id INTEGER DEFAULT NULL,
      amulet_id INTEGER DEFAULT NULL,
      ring_id INTEGER DEFAULT NULL, accessory_id INTEGER,
      FOREIGN KEY (char_id) REFERENCES characters(id)
    );
INSERT INTO equipment VALUES(1,2,10,11,NULL,12,24,30);
INSERT INTO equipment VALUES(2,3,21,NULL,NULL,NULL,NULL,NULL);
INSERT INTO equipment VALUES(3,21,36,NULL,NULL,NULL,NULL,NULL);
CREATE TABLE shop_items (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    item_data TEXT NOT NULL,        -- JSON string of the item

    generation_date INTEGER NOT NULL, -- Unix timestamp of when generated

    sold INTEGER DEFAULT 0           -- 0 = available, 1 = sold (if you want limited stock)

, user_id INTEGER NOT NULL DEFAULT 1);
INSERT INTO shop_items VALUES(241,'{"id":"consumable_1773724725373_mrijc4spp","name":"Large Agility Draught","emoji":"ЁЯзк","tier":2,"level":5,"desc":"A large agility draught for level 5 adventurers.","stats":{},"slot":"accessory","category":"consumable","price":95,"quality":"common","consumable":true,"effect":{"type":"heal","baseValue":50,"scale":1.5,"value":100}}',1773724725,0,4);
INSERT INTO shop_items VALUES(242,'{"id":"accessory_1773724725373_3ulwklacn","name":"Silver Amulet","emoji":"тЬи","tier":2,"level":5,"desc":"A silver amulet for level 5 adventurers.","stats":{"strength":0,"defense":0,"agility":2,"magic":0,"hp_max":9},"slot":"accessory","category":"accessory","price":4800,"quality":"common"}',1773724725,0,4);
INSERT INTO shop_items VALUES(243,'{"id":"consumable_1773724725373_9t2ql4l85","name":"Small Defense Tonic","emoji":"ЁЯТК","tier":2,"level":5,"desc":"A small defense tonic for level 5 adventurers.","stats":{},"slot":"accessory","category":"consumable","price":95,"quality":"rare","consumable":true,"effect":{"type":"heal","baseValue":50,"scale":1.5,"value":100}}',1773724725,0,4);
CREATE TABLE active_missions (

    id INTEGER PRIMARY KEY AUTOINCREMENT,

    character_id INTEGER NOT NULL,

    zone TEXT NOT NULL,

    spot TEXT NOT NULL,

    spot_name TEXT NOT NULL,

    mission_name TEXT NOT NULL,

    difficulty TEXT NOT NULL,

    gold_reward INTEGER NOT NULL,

    xp_reward INTEGER NOT NULL,

    started_at INTEGER NOT NULL,

    ends_at INTEGER NOT NULL,

    FOREIGN KEY (character_id) REFERENCES characters(id)

);
INSERT INTO active_missions VALUES(57,7,'forest','forest_ruins','Old Ruins','Defeat the Forest Guardian','hard',249,15,1773872988,1773873588);
INSERT INTO active_missions VALUES(76,22,'forest','forest_bandits','Bandit Hideout','Scout the Path','medium',114,6,1773893227,1773893827);
INSERT INTO active_missions VALUES(93,20,'forest','forest_bandits','Bandit Hideout','Scout the Path','medium',117,10,1773924726,1773925326);
CREATE TABLE attack_cooldowns (
                                                                    attacker_id INTEGER,
                                                                    defender_id INTEGER,
                                                                    expires_at INTEGER,
                                                                    PRIMARY KEY (attacker_id, defender_id)
            );
INSERT INTO attack_cooldowns VALUES(2,8,1773865688);
INSERT INTO attack_cooldowns VALUES(2,10,1773865709);
INSERT INTO attack_cooldowns VALUES(21,9,1773910035);
CREATE TABLE global_events (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            event_key TEXT NOT NULL,
            started_at INTEGER NOT NULL,
            ends_at INTEGER NOT NULL
        );
INSERT INTO global_events VALUES(1,'gem_fever',1773901624,1773908824);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('characters',23);
INSERT INTO sqlite_sequence VALUES('missions',15);
INSERT INTO sqlite_sequence VALUES('inventory',86);
PRAGMA writable_schema=OFF;
COMMIT;
